* { padding: 0; margin: 0; }

:root, html, body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center; 
}

.search {
  background-color: azure;
  
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Oxygen, Ubuntu, 
  Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  color: black;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0 1rem;
}

.item { 
  margin-bottom: 1rem;
  padding: 1rem; 
  border: 1px solid #ddd; 
  border-radius: 5px; 
}

.prof_rating_box {
  border: 1px solid #1111; 
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 1rem;
}

.search:hover {
  border-color: #f1c40f;
}

.nav {
  background-color: #e67e22;
  padding: 1.5rem 1em;
  height: 3rem; 
  display: flex;
  justify-content: flex-end;
}

.body {
  min-height: 100vh; /* Ensure it stretches to full viewport height */
  display: flex;
  flex-grow: 1; /* Allow it to expand in the flex container */
}

#grade_dist {
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 60%;
  background-color: #f0f0f0; /* Ensure the background color is visible */
  flex-grow: 1; /* Make it stretch to fill the height */
}

#prof_rating {
  width: 40%;
  background-color: #d0d3d4; /* Ensure the background color is visible */
  flex-grow: 1; /* Make it stretch to fill the height */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #f1c40f;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #f1c40f;
  }
  button {
    background-color: #f9f9f9;
  }
}
